.logo,
.logo__text {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--Raleway-txt);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}

.logo__text {
  color: var(--additional-cl);
}

.logo {
  display: block;
  margin-right: 93px;
  width: 145px;
  color: var(--logo-text-cl);
}

.header__logo {
  color: #ffffff;
}
